<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" convertWarningsToExceptions="true" convertNoticesToExceptions="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" verbose="true" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">library/Garp/Functional</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unit-tests">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="date.timezone" value="UTC"/>
    <ini name="display_errors" value="on"/>
  </php>
</phpunit>
